Package: xyz.turannul.forgetyourupdate
Section: Tweaks
Maintainer: Turann_
Architecture: iphoneos-arm64
Version: 1.5
Depends: preferenceloader, mobilesubstrate, bash, launchctl, firmware (>= 15.0)
Replaces: xyz.turannul.updateblockr, xyz.turannul.forgetyourupdates
Conflict: xyz.turannul.updateblockr, xyz.turannul.forgetyourupdates
Description:
 Disable updates, Removes Software Update preference in Settings/General.
 Now open-sourced, you can find the code here <https://github.com/turannul/ForgetYourUpdate>
Name: Forget Your Update
Author: Turann_
